header {
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.menuFilmes {
    position: absolute;
}

nav{
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
} 

form input{
    padding: .5em;
    margin-right: 0.2em;
}

form input:focus{
    outline: none;
}

form svg{
    font-size: 1.2em;
}


.areaUtil{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
}

ul{
    list-style: none;
    display: flex;
    position: relative;
}

li {
    transition: 0.3s;
    padding: 0.5em 1em;
    cursor: pointer;
}

li:hover{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.082);
}

ul ul {
    display: none;
    background-color: rgb(20, 20, 20);
    left: 0;
}

ul li:hover ul {
    display: block;
    position: absolute;
}

@media screen and (max-width:425px){
    .headerImg img{
        height: 40px;
    }

    form input{
        display: none;
    }

    form button:hover, form button:focus + input{
        display: block;
        position: absolute;
        right: 0;
    }

    form input:hover, form input:focus{
        display: block;
        position: absolute;
        align-self: center;
    }

    form button{
        background: transparent;
    }

    form svg{
        color: white;
    }
}