* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100vh;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: white;
  background-color: rgb(14, 14, 14);
}

*::-webkit-scrollbar{
  width: 10px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 20px;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:425px){
  body{
    font-size: 0.70rem;
  }
}